actionlib==1.12.0
angles==1.9.12
appdirs==1.4.3
astroid==2.3.3
bondpy==1.8.3
camera-calibration==1.14.0
camera-calibration-parsers==1.11.13
catkin==0.7.23
-e git+https://github.com/bitcraze/crazyflie-clients-python.git@efa4c67fd55486ce60a3591f4daa92fa5b211b53#egg=cfclient
-e git+https://github.com/agrensimon/crazyflie-lib-python.git@754280f6de7b6f11ea5dd05eadd9d67c6749fccc#egg=cflib
controller-manager==0.18.0
controller-manager-msgs==0.18.0
cv-bridge==1.13.0
cycler==0.10.0
diagnostic-analysis==1.9.3
diagnostic-common-diagnostics==1.9.3
diagnostic-updater==1.9.3
dynamic-reconfigure==1.6.3
gazebo-plugins==2.8.6
gazebo-ros==2.8.6
gencpp==0.6.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.15
gennodejs==2.0.1
genpy==0.6.9
image-geometry==1.13.0
interactive-markers==1.11.5
isort==4.3.21
joint-state-publisher==1.12.15
kdl-parser-py==1.13.1
kiwisolver==1.1.0
laser-geometry==1.6.5
lazy-object-proxy==1.4.3
matplotlib==3.1.3
mccabe==0.6.1
message-filters==1.14.5
numpy==1.22.0
opencv-contrib-python==4.2.0.32
pkg-resources==0.0.0
pylint==2.4.4
pyparsing==2.4.6
PyQt5==5.14.1
PyQt5-sip==12.7.0
pyqtgraph==0.10.0
python-dateutil==2.8.1
python-qt-binding==0.4.0
pyusb==1.0.2
PyYAML==5.4
pyzmq==18.1.0
qt-dotgraph==0.4.0
qt-gui==0.4.0
qt-gui-cpp==0.4.0
qt-gui-py-common==0.4.0
qtm==2.0.3
Quamash==0.6.1
resource-retriever==1.12.6
rosbag==1.14.5
rosboost-cfg==1.14.8
rosclean==1.14.8
roscreate==1.14.8
rosgraph==1.14.5
roslaunch==1.14.5
roslib==1.14.8
roslint==0.11.2
roslz4==1.14.5
rosmake==1.14.8
rosmaster==1.14.5
rosmsg==1.14.5
rosnode==1.14.5
rosparam==1.14.5
rospy==1.14.5
rosservice==1.14.5
rostest==1.14.5
rostopic==1.14.5
rosunit==1.14.8
roswtf==1.14.5
rqt-action==0.4.9
rqt-bag==0.4.12
rqt-bag-plugins==0.4.12
rqt-console==0.4.9
rqt-dep==0.4.9
rqt-graph==0.4.11
rqt-gui==0.5.1
rqt-gui-py==0.5.1
rqt-image-view==0.4.14
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.9
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.5.1
rqt-py-console==0.4.8
rqt-reconfigure==0.5.1
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.9
rqt-robot-steering==0.5.10
rqt-runtime-monitor==0.5.7
rqt-rviz==0.6.0
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.6.0
rqt-top==0.4.8
rqt-topic==0.4.11
rqt-web==0.4.8
rviz==1.13.9
scipy==1.4.1
sensor-msgs==1.12.7
six==1.14.0
smach==2.0.1
smach-ros==2.0.1
smclib==1.8.3
tf==1.12.1
tf-conversions==1.12.1
tf2-geometry-msgs==0.6.5
tf2-kdl==0.6.5
tf2-py==0.6.5
tf2-ros==0.6.5
topic-tools==1.14.5
tqdm==4.42.0
transitions==0.7.2
typed-ast==1.4.1
urdfdom-py==0.4.3
wrapt==1.11.2
xacro==1.13.5
